feedparser
aiohttp==3.7.0
PyNaCl
wheel
aiodns
Brotli
cchardet
orjson
nextcord
nextcord[voice]
nextcord-ext-lava
discord-py-interactions
https://github.com/wladbelsky/Nextlink/archive/refs/heads/master.zip