feedparser
aiohttp
PyNaCl
wheel
aiodns
Brotli
cchardet
orjson
requests
sqlalchemy[asyncio]
aiosqlite
https://github.com/Pycord-Development/pycord/archive/refs/heads/master.zip #py-cord[voice]
https://github.com/PythonistaGuild/Wavelink/archive/refs/heads/main.zip #wavelink